<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>WELCOME TO DATA PAGE</title>
	</head>
	<body>
		<h2>EMPLOYEE DATA PAGE </h2>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>SALARY</th>
				<th>HRA/TA</th>
				<th>DEPT</th>
				<th>OPERATIONS</th>
			</tr>
			<tr th:each="ob:${list}">
				<td>[[${ob.pId}]]</td>
				<td>[[${ob.pName}]]</td>
				<td>[[${ob.pSal}]]</td>
				<td>[[${ob.pHra}]] / [[${ob.pTa}]]</td>
				<td>[[${ob.pDept}]]</td>
				<td>
					<a th:href="@{/product/delete(id=${ob.pId})}">DELETE </a> 
					<a th:href="@{/product/edit(id=${ob.pId})}"> EDIT</a>
				</td>
			</tr>
		</table>
	</body>
</html>
